*.aux
*.log
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.out
*.pdf
*.xml
*.toc

main/chapters/02_autoencoders_e_sparse_autoencoders_old.tex
main/chapters/03_embeddings_copy.tex
main/chapters/03_embeddings_old.tex
main/chapters/cap4.tex
main/chapters/superposition.tex

main/main.bbl-SAVE-ERROR

plots/*


